@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center text-white-50">
    <h1 class="display-4 ">Welcome</h1>
    <p>This is the simple web application for home finance management</p>
</div>
